In [22]:
import pandas as pd
import seaborn as sns

In [23]:
data=pd.read_csv('datasets/adult.data.csv',index_col=False)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [24]:
data.groupby('sex').size()

sex
Female    10771
Male      21790
dtype: int64

2. What is the average age (age feature) of women?

In [25]:
data[data["sex"] == 'Female']['age'].mean()

np.float64(36.85823043357163)

3. What is the percentage of German citizens (native-country feature)?

In [37]:
data['native-country'][data['native-country'] == 'Germany'].count()/ data['native-country'].count()

np.float64(0.004207487485028101)

 4-5. What are mean value and standard deviation of the age of those who receive more than 50K per year (salary feature) and those who receive less than 50K per year?

In [ ]:
def print_s(df):
    print(df.mean())
    print(df.std())
print_s(data['age'][data['salary'] == "<=50K"])

TypeError: print() takes 0 positional arguments but 1 was given